<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest API Settings">
    <test name="Regression">
        <classes>
            <class name="DeleteRequest"/>
            <class name="GetAllEmployeeRequest"/>
            <class name="GetSingleEmployeeRequest"/>
            <class name="PostRequest"/>
            <class name="PutRequest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->